<ion-header>
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This row contains the heading for the gallery -->
  <ion-row>
    <ion-col size="12">
      <h2 class="ion-text-center">Gallery</h2>
    </ion-col>
  </ion-row>
  <!-- This div contains the grid of images -->
  <div class="gallery-container">
    <ion-grid class="gallery-grid">
      <!-- This row contains two images -->
      <ion-row>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail.jpg"></ion-img>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail2.jpg"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <!-- This row contains four images -->
      <ion-row>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail3.jpg"></ion-img>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail4.jpg"></ion-img>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail5.jpg"></ion-img>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="gallery-image-container">
            <ion-img class="drink-image" src="assets/cocktail6.jpg"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- This is the footer of the page -->
  <ion-footer class="custom-footer">
    <div class="row">
      <div class="col-md-12 py-3">
        <!-- Social media icons -->
        <div class="mb-5 text-center">
          <a class="fb-icon" href="https://www.facebook.com/" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a class="tw-icon" href="https://www.twitter.com/" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a class="ins-icon" href="https://www.instagram.com/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a class="pin-icon" href="https://www.pinterest.com/" target="_blank">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </div>
        <!-- Copyright -->
        <p class="footer-text">Copyright 2023, Sophie Boyle - Mobile App Project</p>
      </div>
    </div>
  </ion-footer>
</ion-content>


