<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contactus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contactus</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Get in touch with us!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Your name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your message</ion-label>
          <ion-textarea [(ngModel)]="message"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="primary" (click)="submitForm()">Send</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
